.header {
    background-color: var(--color-4);
}

nav{
    background-color: var(--color-4);
    height: 6vh;   
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

nav ul li {
    color: var(--color-3);
    flex-direction: row;
    border: var(--color-5) solid 0.4vh;
    align-items: center;
    margin: auto;
    margin-top: 0.5%;

}

li a {
    text-decoration: none;
    color: var(--color-3);
    font-size: var(--font-size-h1);
    font-family: var(--font-1);
    margin-top: -10%;
}

#liH1{
    border-style: none;
    font-size: var(--font-size-p);
    font-family: var(--font-1);
    color: var(--white);
    margin-top: -1.5%;
}

li:hover{ 
    background-color: var(--color-3);
    border: var(--color-3) solid 0.4vh;
}

.whitehover:hover{
    color: var(--white);
}