.text {
    position: relative;
    width: 80%;
    margin: 2% 5%;
    padding: 3%;
    border-radius: 35px;
    background-color: var(--color-5);
    p {
        font-family: var(--font-P);
        font-size: 1.6em;
        line-height: 1.25em;
        color: var(--white);
        text-align: justify;
        &:before {
            content: '';
            position: absolute;
            top: 2.5m;
            left: -1em;
            border-top: 20px solid transparent;
            border-right: 20px solid var(--color-5);
            border-bottom: 20px solid var(--color-5);
            border-left: 20px solid transparent;
        }
    }
}