.choice {
    width: 80%;
    margin: 1%;
    padding: 1% 3%;
    border: 1px groove var(--color-2);
    font-family: var(--font-P);
    font-size: 1.5em;
    text-align: justify;
    color: var(--white);
    &:hover{
        transform: translate(1%, 1%) ;
        border-style: groove outset ;
        background-color: var(--color-2);
        cursor: url('../../../../../../assets/img/icons/logo.png'), pointer;
    }
}