<div class="animated-face">
        <div class="head">
            <div class="ear ear--left">
                <div class="ear__inner ear__inner--left"></div>
            </div>
            <div class="face">
                <div class="eye">
                    <div class="eye__left"></div>
                    <div class="eye__right"></div>
                </div>
                <div class="mouth"></div>
            </div>
            <div class="ear ear--right">
                <div class="ear__inner ear__inner--right"></div>
            </div>
        </div>
</div>