<div class="animated-face">
    <div id="bot" class="neutral">
        <div id="head">
            <div id="left-ear">
                <div id="left-ear-inner"></div>
            </div>
            <div id="face">
                <div id="eyes">
                    <div id="left-eye"></div>
                    <div id="right-eye"></div>
                </div>
                <div id="mouth"></div>
            </div>
            <div id="right-ear">
                <div id="right-ear-inner"></div>
            </div>
        </div>
    </div>
</div>