<div id="dialog" role="dialog" aria-labelledby="dialog-title" aria-modal="true" aria-hidden="true" class="c-dialog hide"
  appOutside (click)="ClickedOut($event)">
  <div role="document" class="c-dialog__box js-modal-stop">
    <button id="modal-close" type="button" aria-label="Fermer" title="Fermer cette fenêtre modale" data-dismiss="dialog"
      (click)="onClose()">Fermer
    </button>
    <h2 id="dialog-title">Envoyez nous vos idées d'histoire ou nous contacter tout simplement.</h2>
    <form action="mailto:hauspie.guillaume@free.fr" method="post">
      <p>
        <label for="email">Email</label><br />
        <input type="email" id="email" />
      </p>
      <p>
        <label for="Username">Prénom et nom</label><br />
        <input type="text" id="Username" />
      </p>
      <p>
        <label for="message">Votre message</label><br />
        <textarea name="message" id="message" cols="30" rows="5"></textarea>
      </p>
      <p>
        <button type="submit" id="sendemail">Envoyer</button>
      </p>
    </form>
  </div>
</div>